body {
  background-color:  rgb(26, 25, 25);
  margin: 20px 20px 20px 20px;
}

.page{
  display: flex;
}

.rightside{
 display: flex;
 flex-direction: column;
 background-color: rgb(26, 25, 25) ;
 width: 100%;
}

.profile {
  background-color: rgb(26, 25, 25);
  width: 250px;
  height: 1000px;
  
}

.list {

  background-color: transparent;

  height: 100%;
  width: 100%;
}

.form {

  background-color: transparent;

  height: 100%;
  width: 100%;
}

header{
  width: 100%;
  background-color: rgb(26, 25, 25);
  height: 100px;
}

footer {
  display: flex;
  width: 100%;
  background-color: #343A40;
  height: 90px;
  margin-top: 150px;
  justify-content: center;
  align-items: center;
  
}

.button-row > button {
  background-color: #1A73F7;
  border-radius: 8px;
  cursor: pointer;
}

#github-logo {
  height: 40px;
  width: auto;
  margin-left: 50px;
  margin-right: 50px;
}

.button-row {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
  align-items: center;
}


#beta {
  border: 2px solid purple;
  border-radius: 10px;
  font-size: 15px;
  padding: 2px;
  color: purple;
  background-color: plum;
  opacity: .4;
  margin-left: 20px;
}

.packages-form {
  -webkit-text-fill-color: lightgrey;
  margin: 20px 20px 20px 20px;
}

#exampleFormControlInput1 {
  background-color: rgb(26, 25, 25);
  border: 1px solid grey;
}

#exampleFormControlTextarea1 {
  background-color: rgb(26, 25, 25);
  border: 1px solid grey;
}

.profile-name {
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
  -webkit-text-fill-color: whitesmoke;
}

.profile-username {
  text-align: left;
  margin-left: 20px;
  -webkit-text-fill-color: lightgray;
}

.profile-about {
  -webkit-text-fill-color: whitesmoke;
  text-align: left;
  margin-left: 20px;
  margin-right: 40px;
  margin-bottom: 10px;
}

#stats {
  -webkit-text-fill-color: whitesmoke;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
}

#followbtn {
  background-color: rgb(65, 65, 65);
  -webkit-text-fill-color: whitesmoke;
  border: 1px solid rgb(58, 58, 58);
  border-radius: 8px;
  font-size: 15px;
  margin-left: 20px;
}

#sponsorbtn {
  background-color: rgb(65, 65, 65);
  -webkit-text-fill-color: whitesmoke;
  border: 1px solid rgb(58, 58, 58);
  border-radius: 8px;
  font-size: 15px;
}

#morebtn {
  background-color: rgb(65, 65, 65);
  -webkit-text-fill-color: whitesmoke;
  border: 1px solid rgb(58, 58, 58);
  border-radius: 8px;
  font-size: 15px;
}

img.profileimg {
  width: 200px;
  border-radius: 50%;
  display: block;
  margin-left: 20px;
}

#socials {
  -webkit-text-fill-color: whitesmoke;
  row-gap: -15px;
}

p {
  margin-bottom: 5px;
  margin-left: 20px;
  font-size: 15px;
}

.highlights {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  -webkit-text-fill-color: whitesmoke;
}

.organizations {
  -webkit-text-fill-color: whitesmoke;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sponsors {
  -webkit-text-fill-color: whitesmoke;

  margin-left: 20px;

}

#open-modal {
  background-color: grey;
  border: 2px solid rgb(64, 73, 82);
  -webkit-text-fill-color: whitesmoke;
  border-radius: 8px;
  font-size: 26px;
  margin-top: 20px;
  margin-left: 40%;
}

#close-modal:hover,
#close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.list-group{
  justify-content: center;
  max-width: 1200px;
}

.list-group-item{
  background-color: white;
  border-radius: 8px;
}

.modal-content{
  padding-left: 20px;
  padding-bottom: 20px;
  margin-top: 50px;
  margin-left: 700px;
  max-width: 650px;
}

.project-form-input {
  background-color: white;
}

img.org{
  width: 40px;
  height: 40px;
  border-radius: 25%;
  margin-top: 10px;
  margin-right:15px
}

img.spon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 15px;
}

.nav-link.active::after {
  content: "";
  display: block;
  height: 2px;
  background-color: orange; 
  margin-top: 4px;


}

.repository {
  display: flex;
  align-content: center;
  color: gainsboro;
  border-bottom: 2px solid #343A40;
  
}

.repo-info {
  display: flex;
  justify-content: start;
  align-content: center;
  font-size: 10px;
}

.repo-langs, .repo-stars, .repo-forks, .repo-license, .repo-issues {
  display: inline;
  height: 20px;  
  margin: 10px;

}

.repo-stars > svg {
  width: 50%;
  height: 80%;

}

.repo-stars {
  width: 60px;
  justify-content: space-around;
  
}

.repo-forks > svg {
  width: 50%;
  height: 80%;
  
}

.repo-forks {
  width: 60px;
  justify-content: space-around;

}

.repo-tags > button {
  background-color: #343A40;
  color: #1A73F7;
  border-radius: 8px;
  cursor: pointer;
  font-size: 10px;

}

.repo-name {
  font-size: 30px;
}

.repo-description {
  font-size: 15px;
}

#repo-form {
  margin-top: 100px;
  background-color: transparent;
}

#create-repo {
  background-color: #1A73F7;
}

#repos-list {
  margin-top: 40px;

}
