body {
  background-color: navy;
  margin: 20px 20px 20px 20px;
}

.page{
  display: flex;
}

.rightside{
 display: flex;
 flex-direction: column;
 background-color: coral;
 width: 100%;
}

.profile {
  background-color: lavenderblush;
  width: 250px;
  height: 800px;
  
}

.list {
  background-color: green;
  height: 100%;
  width: 100%;
}

.form {
  background-color: lightyellow;
  height: 100%;
  width: 100%;
}

header{
  width: 100%;
  background-color: cornflowerblue;
  height: 100px;
}

footer {
  width: 100%;
  background-color: cornflowerblue;
  height: 90px;
  margin-top: 150px;
}
