body {
  background-color: navy;
  margin: 20px 20px 20px 20px;
}

.page{
  display: flex;
}

.rightside{
 display: flex;
 flex-direction: column;
 background-color: rgb(26, 25, 25) ;
 width: 100%;
}

.profile {
  background-color: lavenderblush;
  width: 250px;
  height: 800px;
  
}

.list {
  background-color: green;
  height: 100%;
  width: 100%;
}

.form {
  background-color: lightyellow;
  height: 100%;
  width: 100%;
}

header{
  width: 100%;
  background-color: cornflowerblue;
  height: 100px;
}

footer {
  display: flex;
  width: 100%;
  background-color: cornflowerblue;
  height: 90px;
  margin-top: 150px;
  justify-content: center;
  align-items: center;
}

#github-logo {
  height: 40px;
  width: auto;
  margin-left: 50px;
  margin-right: 50px;
}

.button-row {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
  align-items: center;
}

#beta {
  border: 2px solid purple;
  border-radius: 10px;
  font-size: 15px;
  padding: 2px;
  color: purple;
  background-color: plum;
  opacity: .4;
  margin-left: 20px;
}

.packages-form {
  -webkit-text-fill-color: lightgrey;
  margin: 20px 20px 20px 20px;
}

#exampleFormControlInput1 {
  background-color: rgb(26, 25, 25);
  border: 1px solid grey;
}

#exampleFormControlTextarea1 {
  background-color: rgb(26, 25, 25);
  border: 1px solid grey;
}
